# Opens Sourcetree with the current directory
alias st='open -a SourceTree'

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && sudo killall -HUP mDNSResponder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Google Public DNS fix
alias dns-fix='sudo networksetup -setdnsservers Wi-Fi 8.8.8.8 8.8.4.4'
alias dns-reset='sudo networksetup -setdnsservers Wi-Fi empty'

# Small webserver
alias pyserv='python -m SimpleHTTPServer'

# Google Public DNS fix
alias dns-fix='sudo networksetup -setdnsservers Wi-Fi 8.8.4.4 8.8.8.8'
alias dns-reset='sudo networksetup -setdnsservers Wi-Fi empty'

# Getting Twitch to work in Asia
alias livestreamer='livestreamer --hls-segment-threads 10 --hds-segment-threads 10'

# Don't fuck up when deleting stuff
alias rm='trash'
